<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- NOTE: configSections tag must be the first tag after the root -->
  <!-- NOTE: a section must appear just once per config file, or an exception is thrown -->
  <configSections>
    <!-- for 2 -->
    <section  name="Location" type="System.Configuration.NameValueSectionHandler" />

    <!-- for 3 -->
    <sectionGroup name="InfoGroup">
      <section name="PersonInfo" type="System.Configuration.NameValueSectionHandler"/>      
      <section name="AddressInfo" type="System.Configuration.NameValueSectionHandler"/>      
    </sectionGroup>

    <!-- for 4 -->
    <section name="Person" type="ConfigDemo.PersonConfigurationSection, ConfigDemo "/>

    <!-- for 5 -->
    <section name="Developers" type="ConfigDemo.DevelopersConfigurationSection, ConfigDemo "/>

  </configSections>

  <!-- 1. Using the preset appSettings section tag -->
  <appSettings>
    <add key="FirstName" value="Theo" />
    <add key="LastName" value="Bebekis" />
  </appSettings>

  <!-- 2. Using a custom section -->
  <Location>
    <add key="Country" value="Greece" />
    <add key="City" value="Thessaloniki" />
  </Location>

  <!-- 3. Using a custom section group  -->
  <InfoGroup>
    <PersonInfo>
      <add key="FirstName" value="Theo" />
      <add key="LastName" value="Bebekis" />
    </PersonInfo>
    <AddressInfo>
      <add key="Country" value="Greece" />
      <add key="City" value="Thessaloniki" />
    </AddressInfo>    
  </InfoGroup>

  <!-- 4. Using a custom ConfigurationSection class and a custom ConfigurationElement class   -->
  <Person>
    <Person1 Code="THB" FirstName="Theo" LastName="Bebekis" Country="Greece" City="Thessaloniki" ></Person1>
    <Person2 Code="JOD" FirstName="John" LastName="Doe" Country="Greece" City="Thessaloniki" ></Person2>
  </Person>

  <!-- 5. Using a custom ConfigurationElementCollection to have a section that simulates a collection of elements  -->
  <Developers>
    <Developer Code="THB" FirstName="Theo" LastName="Bebekis" Country="Greece" City="Thessaloniki" ></Developer>
    <Developer Code="JOD" FirstName="John" LastName="Doe" Country="Greece" City="Thessaloniki" ></Developer>
  </Developers>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>